<!-- src/main/resources/templates/home.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Toolbar</title>
    <link rel="stylesheet" href="/css/navbar.css">
</head>


<body>
<h1>Welcome!</h1>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>
